<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MAYANG - QUIZ VUEJS SANBERCODE</title>
</head>
<body>


    <div id="app">
        <input type="text" v-model="name_input">
        
        <button v-show="add" @click="tambah"> Add </button>
        <button v-show="!add" @click="update"> Update</button>


        <ul>
            <li v-for="(user, index) in users">
                {{ user.name}} <button @click="edit(index)">Edit </button> || <button type="button" @click="hapus(index)" onclick="return confirm('Anda yakin ?')? true : false ">Delete</button>
            </li>
        </ul>
    </div>
    
    <script src="assets/vendor/vue.js"></script>
    <script src="assets/js/app.js"></script>
</body>
</html>